* {margin: 0px; padding: 0px}

body 
{
	background: url(../img/body.jpg);
	background-color: #82A4D1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #000000; font-family:
	Verdana, Helvetica, Arial, sans-serif;
}

h1, h2, h3
{
	margin-top: 0px;
	color:#333333;
	font-family: arial, serif;
}

h1
{
	font-size: +21px;
}
h2
{
	font-size: +17px;
	display: inline;
}
h3
{
	font-size: +17px;
}

table
{
	margin: 0px 0px;
	padding: 0px 0px;
	border-spacing: 0px;
}

th
{
	margin: 0px;
	padding: 0px;
	background-color: #D8D8D8;
	border-bottom-style : solid;
	border-bottom-width: 1px;		
	border-top-style : solid;
	border-top-width: 1px;
}

td
{
	font-size: +15px;
	padding: 5px;
	vertical-align: top;
	
}

td.left
{
	font-size: +13px;
	text-align: center;
	width: 110px;
}

/*#sp
{
	font-size: +12px;
}*/

p
{
	/*font-family: serif;*/
	font-size: +14px;
	font-style: italic;
}

img.ico
{
	box-shadow: 3px 3px 5px #82A4D1;
	margin-bottom: 7px;
}

#naglowek
{
	width: 740px;
	margin: 20px auto;
	padding-right:32px;
	text-align: right;
	position: fixed;
    top: 20;
    left: 0;
    right: 0;
}
#strona
{
	border-style: solid; 
	border-width: 1px;
	width: 600px;
	height: 892px;
	background-color: #FFFFFF;
	padding: 70px;
	margin: 20px auto;
	box-shadow:4px 4px 4px -1px #3f3f3f;
}

#klauzula
{
	position:relative;
	bottom:-70px;
	text-align:justify;
}
#klauzula p
{
	 font-size:12px;
}

th.l
{
	border-left-style : solid;
	border-left-width: 1px;
}
th.p
{
	border-right-style: solid;
	border-right-width: 1px;
}

td.p
{
	padding-bottom: 15px;
	padding-top: 15px;
}

ul
{
	padding-left: 20px;
	padding-top: 5px;
}

#stopka
{
	text-align: center;
}

#panel {
    position: fixed;
    top: 50px;
    right: -272px;
    z-index: 99999;
    transition: right 0.5s ease-out 0s;
}
 
#panel:hover 
{
    right: 0;
}
 
#panel #content 
{
    width: 250px;
    height: 220px;
    padding: 10px;
    border-top: 1px solid #000000;
    border-right: none;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    z-index: 10;
    background: #FFFFFF;
    position: relative;
    border-radius: 2px 0 0 2px;
}
 
#panel #title 
{
    width: 150px;
    border: 1px solid #000000;
    background: #d8d8d8;
    color: #000000;
    font-weight: normal;
    border-radius: 3px;
    padding: 7px 7px 25px 7px;
    text-align: center;
    position: relative;
    top: 140px;
    left: -90px;
    transform: rotate(-90deg);
    z-index: 1;
}
#content
{
	font-size: +12px;
	text-align: center;
}
form 
{
	width: 110%;
	margin: 0px auto;
	text-align: left;
	padding-left: 5px;

 }
  

